<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" 
	default-autowire="byName">
	<!-- 初始化logback配置文件 -->
	<!--<bean id="loggingInitialization"-->
		<!--class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">-->
		<!--<property name="targetClass"-->
			<!--value="com.suning.framework.log.util.LogbackConfigurer" />-->
		<!--<property name="targetMethod" value="initLogging" />-->
		<!--<property name="arguments">-->
			<!--<list>-->
				<!--<value>classpath:config/log/${envName}_logging.xml</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
</beans>